* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: rgb(176, 198, 209);
}

#head {
    margin-left: 30px;
    margin-top: 10px;
}

nav {
    background-color: rgb(106, 192, 205);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;

}

nav ul {
    display: flex;
    list-style-type: none;


}

li {
    margin-right: 20px;
}

.name {
    margin-left: 2%;

}

i {
    margin-right: 4px;
}

a {
    color: #5121cb;
}

h3 {
    padding-top: 10px;
    list-style-type: none;
}

.name li {
    list-style-type:none ;
}
#dot li{
    list-style-type: disc;
    margin-left: 20px;
}
h3{
    text-decoration-line: underline;
}
img{width: 100px;
    height: 100px;

}
h5{
    padding-top:20px;
    
}